<div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="mt-5">Passport example</h1>
    <div class="mt-3">
        <a class="btn btn-dark" href="/register">Register</a>
        <a class="btn btn-dark" href="/login">Login</a>
    </div>
</div>