<div class="d-flex flex-column justify-content-center align-items-center mt-5">
    <h3>Welcome back {{currentUser.name}}!</h3>
    <p>This is your email: {{currentUser.email}}</p>
    <a class="btn btn-danger" href="/logout">Logout</a>
</div>